.coffee_box {
    background: #148bbd;
    border: 1px solid #ccc !important;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    margin-bottom: 40px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

h3.coffee_box_heading {
    font-size: 24px;
    margin: 0;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffd761;
    font-weight: 600;
    line-height: 30px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

p.coffee_box_content {
    font-size: 20px;
    line-height: 1.7;
    margin: 0 0 20px;
    color: #ffffff;
    font-weight: 400;
}

.coffee_box_img {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
}

.coffee_box_img a {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    outline: none;
}


