* {
  margin: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  overflow: hidden;
  display: flex;
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #e22d30;
}

.cookie-consent-text {
  margin: 0.5em;
  overflow: hidden;
}

.cookie-btn {
  margin: 0.5em;
  padding: 6px 15px;
  border-radius: 8px;
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  font-size: 0.9em;
  ext-align: right;
  overflow: hidden;
}
